.articleBody{
    /* padding: 30px; */
}
.articleTitle{
    font-size: 3.8vh;
    margin-bottom: 20px;
}
.aboutTheArticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articleImageDiv{
    background-color: royalblue;
    margin-bottom: 40px;
}
.articleImageTage{
    width: 100%;
    height: 100%;
}
.articleDescription{
    font-size: 2.5vh;
    
}
.articleContent{
    font-size: 2.5vh;
    
}
.articleFullArticle{
    font-size: 2.8vh;


}
.link{
    color: red;
}