.header{
    background-color: #1abc9c;
    height: 80px;
    margin-bottom: 30px;
    
    padding: 10px;

    display: flex;
    justify-content: space-between;   
    align-items: center; 
}
.headerSmall{
    
    background-color: #1abc9c;
    height: 80px;
    margin-bottom: 30px;
    
    padding: 10px;
    

    display: none;
}
.logo{
    font-size: 4vh;
    color: white;

}
.headerLeft{
    margin-left: 10%;
}
.headerRight{
    width: fit-content;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.LoginContainer{
    margin-right: 10%;
    margin-left: 32px;
}
.loginStateBtn{
	border: none;
    padding: 16px;
    width: 125px;
    /* outline: none; */
    font-size: 16px;
    background-color: rgb(63, 63, 63);
    border: 2px #dddddd solid;
    border-radius: 14px;
    color: white;
}
.loginStateBtn:hover{
    cursor: pointer;
    background-color: #87cec0;
    border-radius: 16px;
    font-size: 18px;

    
}
.userName{
    width:400px ;
    color: white;
    text-align: right;
    /* font-weight: 800; */
    font-size: 3vh;
}
/* ============================================================================= */
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }





@media only screen and (max-width: 870px) {
    .header {
      display: none;
    }
    .headerSmall{
        display: flex;
        height: 100px;
        flex-direction: column;

        padding: 20px;
        /* justify-content: space-between;    */
        /* align-items: center;  */
    }
    .topHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .bottomHeader{
        display: flex;
    }
    .headerRight{
        /* background-color: red; */
        width: 250px;
        padding: 6px;
        justify-content: right;
    }
    .LoginContainer{
        margin: 0;
        margin-right: 4px;
        padding: 0;
    }
    .userName{
        width: fit-content;
        padding-left: 75px;
        /* background-color: red; */

    }


  }