.topicsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 10px;
    
}
.topicsContainer>div{
    /* color: white */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    /* vertical-align: center; */
    width: 90%;
    padding-left: 10%;
    height: 60px;
    font-size: 2vh;
    color: white;
    margin-bottom: 4px;
    background-color: #1abc9c;

    cursor: pointer;
}