.mainMyarticle{
    display: flex;
    /* min-height: 700px; */

}
.leftMyarticle{
    /* background-color: #1abc9c; */
    background-color: rgb(171, 223, 195);

    margin-right: 30px;
    width: 25%;
}
.rightMyarticle{
    width: 75%;
    background-color:white;
    padding: 40px;
    margin-right: 20px;
}