.newsPage > main{

}
#loading{
    margin-left: auto;
    margin-right: auto;
    /* height: 40px; */
    text-align: center;
 
}
#loading>img{
    height: 150px;
    width: 150px;
}
.newsPageMain{
    display: flex;
    

}
.newsPageLeft{
    /* background-color: #1abc9c; */
    background-color: rgb(171, 223, 195);

    margin-right: 30px;
    width: 25%;
}
.newsPageRight{
    width: 75%;
    background-color:white;
    padding: 40px;
    margin-right: 20px;
}
@media only screen and (max-width: 870px) {
    .newsPageLeft{
        display: none;
    }
    .newsPageRight{
        margin: 0;
        padding: 0;
    }
    .newsPageMain{
        display: flex;
        justify-content: center;
    }




}